body {
  background-color: #dfbebe; /* page background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#plastic {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: #df6d6d;
  padding: 30px;
  border-radius: 10px;
}

.title{
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 40px;
   color: aquamarine;
   padding-top: 10px;
   margin: 0px;
}

/* The main board container */
#board {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
}

/* Menu container */
.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu input {
  width: 50px;
}

.input-div {
  display: flex;
  gap: 5px;
}

/* 🎯 Each cell’s base appearance */
.cell {
  box-sizing: border-box;
  background-color: lightblue;
  border: 1.5px solid #b77777ff;
  transition: background-color 0.2s ease;
}
